
 :root {
  
    /* Colors */
    --dark-blue: #4535C1;
    --light-blue-1: #478CCF;
    --very-light-blue-1: #36C2CE;
    --very-light-blue-2: #77E4C8;
    --white-color: #e5e5e5;

    gap: 0.5em;
 }