*{
   
    margin: 0;
    padding: 0;
}

body{
    display: flex;/**/
    justify-content: center;
    align-items: center;
    height: 100vh; /*A altura do viewport -  é com se fosse na parte de cima do código um espaçamento que a cada vez que aumenta*/
}

header {
    background: #36C2CE; /* Cor de fundo do header */
    color: #fff; /* Cor do texto dentro do header */
    height: 70px; /* Altura do header e como se fosse a espessura da parte de cima */
    display: flex;
    align-items: center;
    padding: 10px 0; /*superior, direita, inferior, bottom, left | Espaçamento interno apenas no eixo vertical */
    justify-content: space-between;
    width: 100%; /* Garante que o header ocupe 100% da largura da tela */
    position: fixed; /* Fixa o header no topo da página */
    top: 0; /* Posiciona o header no topo da página */
    left: 0; /* Posiciona o header no início da página (à esquerda) */
    z-index: 1000; /* Garante que o header fique sobre outros elementos */
    
}

section{
    display: flex;
    justify-content: flex-end; /* Alinha o conteúdo à direita */
    align-items: center;
}



.logo-alura-image{
    display: flex;
    align-items: end;
    margin-left: -20px;/*Aqui seria o posionamento a esquerda onde o lado esquerdo determinara se */
}

.logo-alura-image img{
    width: auto;
}


.links-para-outras-redes{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    text-align: center;

}

.links-para-outras-redes h3{
    margin: 0;

}

aside{
    position: absolute;/*é uma propriedade que permite posicionar elementos de acordo com o elemento pai que tenha um position diferente de static */
    right: 10rem; /* Posiciona o aside à direita da tela */
    top: 50%;
    transform: translateY(-50%); /* Centraliza verticalmente */
    padding: 20px; /* Ajusta o espaço interno */
    background-color: #36C2CE; /* Cor de fundo */
    border-radius: 8px; /* Bordas arredondadas (opcional) */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para destacar o aside */
    text-align: center; /* Centraliza o texto */
    height: auto; /*limite de altura e largura adaptada a tela*/
    width: auto;
   
}

aside img{
    width: 100%; /* Ajusta a largura da imagem dentro do aside */
    margin-bottom: 2cm;
    height: auto; /* Mantém a proporção da imagem */
}

section h3{
    text-align: center;
    color: white;
    font-size: 24px;
}

.Status-campo{
    font-size: 2rem;

}

#digite-no-campo{
    flex-grow: 1; /**/
    border-radius: 2rem;
    background-color: #36C2CE;
    padding: 2%;

}
.Rodape{
    position: absolute;
    background-color: tomato;
    width: 100%;
    height: 5vh;
    bottom: -10rem;
    text-align: center;
    justify-content: center;
    
}

